body{
    background-image: url('../src/Assets/976387226.jpg');
    background-size: cover;
  background-repeat: no-repeat;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slider-container {
  display: flex;
  align-items: center;
}

.pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 0 20px; 
}

.Pagina1 {
  order: 1;
}

.Pagina2 {
  order: 2;
}

.Pagina3 {
  order: 3;
}

button {
  font-size: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  margin: 30px; 
}

button:focus {
  outline: none;
}

.previous::before {
  content: '\2039'; 
}

.next::after {
  content: '\203A';
}

button:hover
{
  color: aliceblue;
}
.paginaTotal{
  height: 100%;
  width: 100%;
}
.BaraComponente
{
  align-items: flex-start;
}